# Node
NODE_ENV=production

# MySQL connection (供应用使用)
DB_URL=mysql://user:suerpwd@db:3306/mydb

# MySQL container init
MYSQL_ROOT_PASSWORD=rootpwd
MYSQL_DATABASE=mydb
MYSQL_USER=user
MYSQL_PASSWORD=suerpwd